# Week-2 Lab session includes two separate tasks, in summary;
1) To apply the learnt concept in the class to a new dataset.
2) To implement data integration using merge() function. This is particularly a good practice for data manipulation as we need to create new data columns that are generated using other data columns.

**Details to be found in the following cells.**

**You are expected to create new cells as much as you think you need to.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 1) Apply what you have learnt in the class, starting from *tail()* and *head()* functions till **Data Integration slide (excluding)** using **testdata.csv** file. Make sure to apply all functions/methods we have covered during demonstrations. You can also check the self-study notebook file for help.

In [ ]:
# First thing to do is to import required libraries

In [ ]:
# Start by reading from testdata.csv file

In [ ]:
# Continue with the demonstration order as shown in the concept slides as well as in the self-study notebook file.

# 2) Data integration using **merge()** function

In [ ]:
# Import libraries (pandas) as required

# Reading data from CSV files, create df_sales from sales.csv, df_customers from customers.csv, df_products from products.csv, df_shippings from shippings.csv
df_sales =
df_customers =
df_products =
df_shippings =

In [ ]:
# Create df_merged dataframe by performing merge() operation to sales_df from customers_df based on Customer_ID using left join
df_merged =

In [ ]:
# Get Year-Month and Quarter data from the Date column.
# Check online on to_datetime() function and run/observe following codes.
df_merged['YearMonth'] = pd.to_datetime(df_merged['Date']).dt.to_period('M')
df_merged['Quarter'] = pd.to_datetime(df_merged['Date']).dt.quarter
df_merged

In [ ]:
# Merge with products data based on Product column using left join
df_merged =

In [ ]:
# Merge with shippings data based on Order_ID column using left join
df_merged =

In [ ]:
# Challenging Part!
# Calculate a new discounted amount column based on customer Segment, Loyalty_Level,
# and Dynamic Pricing (using Base Price and Popularity_Score)
# Details can be found below

# As an example, Segment_Discount is provided below.
# Customer Segment Discount is defined as: Gold customer receives 10%, Silver customer receives 5% segment discount. Others do not receive.
df_merged['Segment_Discount'] = df_merged.apply(
    lambda row: 0.1 if row['Segment'] == 'Gold'
    else (0.05 if row['Segment'] == 'Silver' else 0),
    axis=1
)

# Loyalty Discount is defined as: Platinium customer receives 15%,
# Gold customer receives 10% loyalty discount. Others do not receive.
df_merged['Loyalty_Discount'] =

# Dynamic pricing is defined by Base_Price*(0.01*Popularity_Score)
df_merged['Dynamic_Pricing'] =

# Final Discounted_Amount before shipping is calculated by "Amount*(1-Discount-Segment_Discount-Loyalty_Discount)-Dynamic_Pricing"
df_merged['Discounted_Amount'] =

In [ ]:
# Total cost including shipping cost is calculated as follows:
df_merged['Total_Cost'] = df_merged['Discounted_Amount'] + df_merged['Shipping_Cost']
df_merged

In [ ]:
# Please observe how to print the final data colums with customer names in the first column. You can play with the columns and final file. Open the file manually and see what you got.
final_df = df_merged[['Customer_Name', 'Order_ID', 'Date', 'Product', 'Amount', 'Region', 'Gender', 'Age', 'Segment', 'Loyalty_Level', 'Category', 'Base_Price', 'Discount', 'Supplier', 'Popularity_Score', 'Shipping_Cost', 'Shipping_Method', 'Shipping_Region', 'Discounted_Amount', 'Total_Cost']]
print(final_df)
# Write into a .csv file
final_df.to_csv('final_data.csv')